
.spinner > div {background-color: #f89456;}


a:hover,
a:focus {color: #f29c12;}

a {color: #f89456;}


hr {color:#f29c12;}

.hr:before {background-color: #f29c12;}

.hr {color: #f29c12;}

/* icons */

.glyphicon{color: #f89456;}

/* logo */

.navbar-brand span{color:#f89456;}

/* Top bar */

.top-bar {background: #f89456;}

ul.social-list li a:hover {background-color:#f29c12;}

/* navbar */

.navbar-toggle {background-color: #f89456;}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {background-color: #f29c12;}

.navbar-custom .nav li a:hover{color: #f89456;}
	 
.navbar-custom .nav li a:focus{color: #f29c12;}

.navbar-custom .nav li.active {color: #f89456;}

.navbar-custom .nav > .active > a {color: #f89456;}

.navbar-brand:hover,
.navbar-brand:focus {color:#f89456;}

#gallery .nav > li > a:focus {color: #f29c12;}
 
#gallery .nav > li > a:hover {color: #f89456;}

/* nav pills */

.nav-pills> li.active:after {border-top-color: #f29c12;}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {background-color: #f29c12;}

.nav-pills>li>a:hover {background-color: #f89456;}

.nav-pills .nav > li > a:hover {background-color: #f29c12;}

/* Light buttons */

.light-btn .btn:before{color: #f89456;}

.light-btn .btn:hover{color: #f89456;}

.light-btn .btn:focus{color: #f89456;}

/* Default buttons */

.btn-default {background-color: #fff; color: #f89456}

.btn-default:hover ,
.btn-default:focus {background-color:#d6651f;}


/* Social Media icons */

.social-media a:hover {background-color: #f89456;}

/* carousel & Sliders */

.slider-pagi__elem {border: 2px solid #f29c12;}

/* Sections Backgrounds */

#stats {background-color:#f89456;}

#testimonials {background-color:#f89456;}

#call-to-action{background-color: #f89456;}

#offers{background-color: #f89456;}

/* About us - icons */

.box > .icon > .image{border: 2px dotted #f29c12;}

.box > .icon:hover > .image{background: #f29c12;}

/* team */

.team span {color: #f89456;}

/* Gallery Overlay */

.gallery-thumb .overlay-mask{background:#f29c12;}

/* Prices */

.pricing-tables .pricing-table.highlight-plan .plan-name {background-color: #f89456;}

/* Offers */

#offers span{color:#f89456;}

/* Owl-slider */

.owl-prev:hover, .owl-next:hover {background-color:#f29c12;}

/* Contact & Footer */

#contact .form-control:focus {box-shadow: 0 4px 0px #f29c12;}

footer {background-color:#f89456;}

/* Go to top icon */

.back-to-top i:hover {background-color:#f29c12;}