/*

	#Main Slider
	#Section - Services
	#Section - Stats
	#Section - About
	#Section - Testimonials
	#Section - Prices
	#Section - Call to Action
	#Section - Gallery
    #Section - Offers
	#Section - Adoption
	#Section - Brands
	#Section - Contact
	#Section - Map
    #Section - Footer
	#Miscellaneous
	#Media Queries

===========================
  General and Typography
============================ */

html{
	width: 100%;
	height: 100%;	
}

body {
	width: 100%;
	height: 100%;
	font-family: 'nunito',sans-serif;
	font-weight: 300;
	color: #333;
	-webkit-text-size-adjust: 100%; 
	-webkit-font-smoothing: antialiased;
}

p{
    font-size: 17px;
    line-height: 27px;
    color:#717171;
	margin: 0;
}

/* Headings */

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: 400;
	font-size:18px;
	color:#333;
}

h1 {
	text-transform:uppercase;
	font-size: 45px;
	font-weight: 700;
}
 
h2 {
	font-size: 38px;
	font-weight: 700;
	text-transform:uppercase;
	margin-top:0;
}

h3 {
	font-family: 'nunito',sans-serif;
	font-weight: 600;
	font-size: 34px;
	margin-top: 0;
	margin-bottom: 20px;
}

h4 { 
	font-family: 'nunito',sans-serif;
	font-weight: 400;
	font-size: 30px;	
}
 
h5 {
	font-size: 25px;	
	font-family: 'nunito',sans-serif;
	font-weight: 400;
}

h6 {
	font-size: 18px;	
	margin: 0;
	text-transform: uppercase;
	font-family: 'nunito',sans-serif;
	font-weight: 400;
}

/* Links */

a {transition: all .2s ease-in-out;}

a:hover,
a:focus {text-decoration: none;}

/* Preloader */

#preloader {
    background: #fff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.spinner {
	position: absolute;
	left: 49%;
	top: 50%; 
	z-index: 999; 
	min-width: 6.5em; 
	height: 2.5em; 
	overflow: visible; 
}

.spinner > div {
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/*===========================
  Navigation
============================ */

.navbar-toggle {color:#fff;}

.navbar {
	background-color:#fff;
	margin-bottom: 0;
	z-index:900;
	transition: background .5s ease-in-out, padding .5s ease-in-out;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.23);
	-moz-box-shadow:0px 0px 2px 0px rgba(50, 50, 50, 0.23);
	box-shadow:0px 0px 7px 0px rgba(50, 50, 50, 0.23);
}

.navbar-nav > li > a {
  line-height: 43px;
  padding: 10px 0px 10px 35px;
}

.navbar-custom ul.nav li a {
	font-size: 14px;
	text-align: center;
    transition: all .2s ease-in-out;
	font-family: 'nunito', sans-serif;
}

.nav > li > a{
	font-family: 'nunito', sans-serif;
	font-weight: 700;
	text-transform:uppercase;
	transition: background .3s ease-in-out;
	color:#333;
}

.navbar-custom .nav li a:hover{
	background-color: rgba(255, 255, 255, 0);
	outline: 0;
}
	 
.navbar-custom .nav li a:focus{
	outline: 0;
	background-color: rgba(255, 255, 255, 0);
	border-bottom:none;
}

.navbar-custom .nav li.active {
	outline: 0;
	background-color: rgba(255, 255, 255, 0);
}

.navbar-custom ul.nav ul.dropdown-menu {border-radius: 0;}

.navbar-custom ul.nav ul.dropdown-menu li {border-bottom: 1px solid #f5f5f5;}

.navbar-custom ul.nav ul.dropdown-menu li:last-child {border-bottom: none;}

.navbar-custom ul.nav ul.dropdown-menu li a {padding: 10px 20px;}

.navbar-toggle:focus,
.navbar-toggle:active {outline: 0;}

.navbar-toggle {font-size: 16px;}

.navbar-fixed-top {border-width: 0 0 0px;}

/* top-bar */

.top-bar ul,ol {
    margin-bottom: 0px;
    padding: 0px;
}

.top-bar.color-bar ul.social-list i {border-left: 1px solid rgba(255, 255, 255, .1);}

.top-bar.color-bar ul.social-list li:last-child i {border-right: 1px solid rgba(255, 255, 255, .1);}

.top-bar.color-bar .contact-details li:before {color: rgba(255, 255, 255, .2);}

.top-bar a {color: #fff;}

.top-bar .contact-details li:first-child {margin-left: 0px;}

.top-bar .contact-details i {margin-right: 5px;}

.top-bar .contact-details li {
    font-size: 12px;
    display: inline-block;
    line-height: 42px;
    color: #fff;
    text-transform: uppercase;
    margin-left: 20px;
}

/* top-bar Social icons */

ul.social-list {
    float: right;
    list-style-type: none;
}

ul.social-list li {
    float: left;
}

ul.social-list li a {
    display: inline-block;
    transition: all 0.2s ease-in-out;
    color: #fff;
}

ul.social-list li a:hover {
    color: #fff;
    transition: background .3s ease-in-out;
}

ul.social-list li a i {
    font-size: 1em;
    display: block;
    width: 34px;
    line-height: 42px;
    text-align: center;
    font-size: 15px;
}

/*===========================
  Logo
============================ */

.navbar-brand {
	font-size: 25px;
	line-height: 30px;
	margin-left: 0px;
	color:#333;
	text-transform:uppercase;
	font-family: 'Bree Serif', serif;
}
 
/*Logo icon */

.navbar-brand span{
	display: inline-block;
	margin-bottom:10px;
	margin-right:10px;
}






/*===========================
  Services
============================ */

#services{text-align:center;}

#services h4{margin-top:18px;}



		
/*===========================
 Call to Action
============================ */

#call-to-action p{color:#fff;}

#call-to-action .light-btn {margin-top:12px;}

.small-section .container{
	color:#fff;
	padding: 80px 0 80px 0;
}

.m-left{margin-left:20px}



/* ===========================
--- Gallery
============================ */	

#gallery .nav > li {
	border-right: 2px solid #cecece;
	padding:0px 20px;
    display: inline-block;
	margin-bottom:30px;
}
  
#gallery .nav > li:last-child { border-right: none }  

#gallery .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #fff;
}

.nav-gallery{text-align:center;}

.portfolio-item{
	margin-top: 30px;
    position:relative;
}


/* Gallery */

.gallery-item.selected img {transition: opacity 1s ease-in-out;}

.gallery-thumb {
    display: block;
    position: relative;
    overflow: hidden;
}

.scrollimation .gallery-thumb {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
    transition: opacity .4s ease-out, transform .4s ease-out;
}

.touch .scrollimation .gallery-thumb,
.scrollimation .gallery-thumb.in {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
}

.gallery-thumb .overlay-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity .3s ease-out;
}

.gallery-thumb:hover .overlay-mask {opacity: 0.8;}

.gallery-thumb .link {
    display: inline-block;
    margin: 0;
    font-size: 50px;
    line-height: 50px;
    color: #fff;
    opacity: 0;
    position: absolute;
    height: 50px;
    width: 64px;
    top: 40%;
    left: 50%;
    text-align: center;
    z-index: 3;
    margin-left: 20px;
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.gallery-thumb:hover .link {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1;
    transition: all .3s ease-out .3s;
}

.gallery-thumb .link.centered {
    margin-left: -32px;
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.gallery-thumb i {transition: all 0.2s ease-in-out;}

.gallery-thumb i:hover {color: #808080;}

.gallery-thumb:hover .link.centered {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}



/* Thumbnails */
	
.thumbnail{
	background-color:#eee;
     border: 0;
}

.thumbnail:hover{
	background-color:#cecece;
	transition: all .3s ease-in-out;
}

.thumbnail img{
	padding:15px;
	margin-top:-5px;
}

/*===========================
  Footer
============================ */

footer{padding-top:15px;}

footer p{
	font-size:14px;
	color:#fff;
	text-align: right;	
}

footer i:hover{color: #cecece;}

footer a {color: #fff;}

/* Social Media icons */

footer .social-media i{font-size:25px;}

footer .social-media {
	margin-top:0px;
	text-align:left;
}

footer .social-media li{display:inline-block;}

/* Go to top icon */

.back-to-top {
    display: none;
    position: fixed;
    bottom: 57px;
    right: 12px;
	z-index:10;
}

.back-to-top i {
    display: block;
    width: 44px;
    height: 44px;
    line-height: 40px;
	font-size:20px;
    color: #fff;
    border-radius: 0px;
    text-align: center;
    background-color: #333;
    transition: all 0.2s ease-in-out;
}


/* Space between sections */

.home-section  {padding: 120px 0 120px 0;}

/* Image zoom Hover effect*/

.img-wrapper {overflow: hidden;}

.img-wrapper img {
    transition: all .5s ease;
    vertical-align: middle;
	display:inline-block;
}

.img-wrapper img:hover {
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:scale(1.5); /* Opera */
    transform:scale(1.5);
}

/* Sections heading & Hr */

.hr {
	max-width:200px;
	padding: 0;
	border: 1px double;
	text-align: center;
	clear: left;
	display: block;
	height: 0;
	margin: 10px auto 0px auto;
	width: 100%;
}

.section-heading{
	margin-bottom:50px;
	text-align:center;
	padding-top: 20px;
}

/* Lists */

.list-unstyled i{	
	margin-right:20px;
	font-size:25px;
}

ul {font-size: 16px;}

/* Buttons */

.btn {
	margin-top:1em;
	border:none;
	padding:15px;
	font-size: 15px;
	font-weight:400;
	background-image: none;
	border-radius: 0px;
	text-transform: uppercase;
	transition: all .3s ease-in-out;
	display: inline-block;
	vertical-align: middle;
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	backface-visibility: hidden;
	position: relative;
	transition-property: color;
	transition-duration: 0.3s;
}

.btn:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform: scaleX(0);
	transform-origin: 0 50%;
	transition-property: transform;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}

.btn:hover, .btn:focus, .btn:active {color: white;}

.btn:hover:before, .btn:focus:before, .btn:active:before {
  transform: scaleX(1);
}

/* Default Button */

.btn-default {color: #fff;}

.btn-default:hover ,
.btn-default:focus {
	outline:0;
	color: #fff;
}

.btn-lg{margin-top:20px;}

.light-btn .btn:before{background-color: #fff;}

/* Social Media Icons */

.social-media {
	width:100%;
	padding:0 0px;
	margin-top:20px;
}

.social-media a {
	display:inline-block;
	font-size:20px;
}

.social-media a i {
	transition:.3s;
	margin: 3px;
	width: 30px;
}

.social-media a:hover {color:#fff;}

/* Centered columns */

.col-centered{
    float: none;
    margin: 0 auto;
}
/* Labels */

.label-default {background-color: #fff;}

.label {padding: .1em .3em .1em;}

/* Wells */

.well {
	background-color: #f5f5f5;
	border-radius: 0px;
	border: 0;
	margin-bottom:0;
}


/*===========================
  Media Queries
============================ */


/* max width 1200px */
@media (max-width: 1200px) {
	
	
	.social-media a i{margin:0px;}
	
    .navbar-custom ul.nav li a {font-size: 12px;}

}

/* max width 991px */
@media (max-width: 991px) {
	
	/* Space between sections */

	.home-section {padding: 7rem 0 7rem 0;}
	.section-heading {margin-bottom: 7rem;}

			
    /* navbar collapse at 991px */
    
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
        overflow-y: auto !important;
    }
    .navbar-nav {
        margin: 0;
        float: none !important;
        height: 100%;
    }
    .navbar-right {
        line-height: 0px;
    }
    .navbar-nav li {
        float: none;
    }
    .navbar-nav li > .dropdown-menu {
        border: 0;
        float: none;
        width: auto;
        position: static;
        box-shadow: none;
        background: inherit;
    }
	
	.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
		max-height: 200px;
    }
	.navbar-collapse.collapse.in {
		display:block!important;
		padding-bottom: 40px;
	    max-height:200px!important; 
		overflow-y:scroll!important; 
		overflow-x:hidden!important;
	}
	.navbar-collapse::-webkit-scrollbar {
		width: 20px;
	}
	.navbar-collapse::-webkit-scrollbar-track {
		background-color: lightgray;
	}
	.navbar-collapse::-webkit-scrollbar-thumb {
		background-color: darkgray;
	}

	.navbar-nav {
		margin: 0;
		float: none !important; 
		height: 100%;
	}
	.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
     padding: 10px; 
    }
	
	 
	/* typography */

    h2 {font-size: 35px;}
	
	/* Sections background */
    #call-to-action .container {background: none;}
		
	/* contact */

    #contact.home-section {padding-bottom: 0px;}
	
    #contact .btn-default {margin-bottom: 40px;}
			
		
    .res-margin {margin-bottom: 15px;}
	
	.margin  {margin-bottom: 40px;}
	
    #lightbox [class*="col-"] {margin-bottom: 10px;}
}


/* max width 480px */
@media (max-width: 480px) {
	
	

	.section-heading{margin-bottom:3em;}

	
	
	#call-to-action .btn-default{margin-left:20px;}

	.navbar.navbar-custom.navbar-fixed-top {margin-bottom: 30px;}

			
}

/* max width 320px */
@media (max-width: 320px) {
	
	
	.navbar-brand {font-size: 22px;}
		
	h2{font-size:32px;}
	
	h3{font-size: 28px;}
	 
	h4{font-size: 20px;}

	.quote-test p {
	  line-height: 125%;
	  font-size: 20px;
	}
}

#footer ul{
	padding:0;
	padding:0;
	list-style: none;
}
#footer ul a:hover,
#footer ul a:focus{
	color: #fff;
	text-decoration: underline;
}

#footer h3{
	color:#fff;
	font-weight: normal;
	font-size: 20px;
}

.copyright{
	border-top: 1px solid #fff;
	margin-top: 5px;
	padding-top: 5px;
}

.text-primary{
	color: #f89456;
}

/* contact page style */
.google-map{
	height: 30rem;
    position: relative;
}
.google-map iframe{
	height: 100%;
    width: 100%;
}

.icon-block{
	margin-bottom: 20px;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}
.contact-us .fa-envelope{
	font-size: 48px;
    padding-right: 1rem;
}

.icon-block-title{
	display: inline-block;
    align-self: center;
    -webkit-align-self: center;
    margin-bottom: 0;
    line-height: 1;
    font-style: italic;
}

.contact-us h5{
	font-size: 17px;
	font-weight: bold;
}
.mbr-text{
	color: #767676;
	font-weight: bold;
}
/* Form */
.multi-horizontal{
	-webkit-flex-grow: 1;
    max-width: 100%;
}

.contact-us .input{
	margin-bottom: 15px;
}
.input{
	background-color: #f5f5f5;
    box-shadow: none;
    color: #565656;
    font-size: 1rem;
    line-height: 1.43;
    min-height: 3.5em;
	padding: 1.07em .5em;
	display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1.5rem;
    line-height: 1.25;
    color: #495057;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	font-weight: bold;
}
.input::placeholder{
	font-weight: bold;
}
.input:focus{
	border: 1px solid #e8e8e8;
}

.btn-primary{
	background-color: #f89456;
}
.btn-primary:hover,
.btn-primary:focus{
	background-color: #e27a39;

}